<div class="cart-attribute__field">
  <label>お届け希望時間帯</label><br>
  <select id="" name="attributes[お届け希望時間帯]">
    <option value="指定なし"{% if cart.attributes["お届け希望時間帯"] == "指定なし" %} selected{% endif %}>指定なし</option>
    <option value="午前中"{% if cart.attributes["お届け希望時間帯"] == "午前中" %} selected{% endif %}>午前中</option>
    <option value="12:00-14:00"{% if cart.attributes["お届け希望時間帯"] == "12:00-14:00" %} selected{% endif %}>12:00-14:00</option>
    <option value="14:00-16:00"{% if cart.attributes["お届け希望時間帯"] == "14:00-16:00" %} selected{% endif %}>14:00-16:00</option>
    <option value="16:00-18:00"{% if cart.attributes["お届け希望時間帯"] == "16:00-18:00" %} selected{% endif %}>16:00-18:00</option>
    <option value="18:00-20:00"{% if cart.attributes["お届け希望時間帯"] == "18:00-20:00" %} selected{% endif %}>18:00-20:00</option>
    <option value="19:00-21:00"{% if cart.attributes["お届け希望時間帯"] == "19:00-21:00" %} selected{% endif %}>19:00-21:00</option>
  </select>
</div>

<p class="cart-attribute__field">
  <label for="your-name">お届け希望日</label><br>
  <input id="your-name" type="text" name="attributes[Your name]" value="{{ cart.attributes["Your name"] }}" placeholder="YYYY/MM/DD"><br>
</p>


<style>
* {
  outline: 0;
}
  
span.msg,
span.choose {
  color: #555;
  padding: 5px 0 10px;
  display: inherit
}
.cart-attribute__field{
  margin: 50px 10px 30px 10px;
  text-align: right
}

/*Styling Selectbox*/
.dropdown {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.dropdown .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.dropdown .select > i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .3s ease-in-out;
    float: right;
    line-height: 20px
}
.dropdown:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.dropdown:active {
    background-color: #f8f8f8
}
.dropdown.active:hover,
.dropdown.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 2px 2px 0 0;
    background-color: #f8f8f8
}
.dropdown.active .select > i {
    transform: rotate(-90deg)
}
.dropdown .dropdown-menu {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 2px 2px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.dropdown .dropdown-menu li {
    padding: 10px;
    transition: all .2s ease-in-out;
    cursor: pointer
} 
.dropdown .dropdown-menu {
    padding: 0;
    list-style: none
}
.dropdown .dropdown-menu li:hover {
    background-color: #f2f2f2
}
.dropdown .dropdown-menu li:active {
    background-color: #e2e2e2
}
</style>

<script>

/*Dropdown Menu*/
$('.dropdown').click(function () {
        $(this).attr('tabindex', 1).focus();
        $(this).toggleClass('active');
        $(this).find('.dropdown-menu').slideToggle(300);
    });
    $('.dropdown').focusout(function () {
        $(this).removeClass('active');
        $(this).find('.dropdown-menu').slideUp(300);
    });
    $('.dropdown .dropdown-menu li').click(function () {
        $(this).parents('.dropdown').find('span').text($(this).text());
        $(this).parents('.dropdown').find('input').attr('value', $(this).attr('id'));
    });
/*End Dropdown Menu*/


$('.dropdown-menu li').click(function () {
  var input = '<strong>' + $(this).parents('.dropdown').find('input').val() + '</strong>',
      msg = '<span class="msg">Hidden input value: ';
  $('.msg').html(msg + input + '</span>');
}); 
  
</script>