.logo-letter {
  font-family: garamond-premier-pro, serif !important;

font-weight: 400 !important;

font-style: normal !important;

  font-size:1.6rem !important;
width:100%;
margin-right:auto;
  margin-left:auto;
  margin-top:30px !important;
  margin-bottom:100px !important;
text-align: center !important;
}

.logo-img {
  width: 300px !important;
  height: auto !important;
  margin: 0 auto !important;
}

.logo-image {
  width: 100% !important;
}

@media screen and (max-width:700px){
  .logo-img {
    width: 70% !important;
  }

  .logo-letter {
    font-size: 12px !important;
    margin-top:40px !important;
  }
}